/*html global*******************************************************************/

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
  color: #2D5A96;
  padding-top: 10px;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.4em;
  color: #2D5A96;
  padding-top: 10px;
}

h3 {
  font-size: 1.3em;
  color: #2D5A96;
  padding-top: 10px;
}

p {
  font-size: 0.9em;
}

a {
  color: #0067B8;
}

/*Layout style*/

.pageWrapper {
  min-height: calc(100vh - 160px);
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.ui-widget {
  font-size: 0.9em;
}

/*Modal Window style*/

.ReactModal__Content {
  padding: 0 !important;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border: 0 !important;
}

.ReactModal__Overlay {
  z-index: 3;
}

.modal-header {
  background-color: #2d5a96;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.modal-body, .modal-footer {
  padding: 20px;
}

.modal-body {
  background-color: #f9fafb;
}

.modal-footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}

.modal-title {
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1;
}

h3.modal-title {
  padding-top: 5px;
}
.loader div{
  width:5px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 25px;

}
.firstSlide{
  width: 100%;
  background: #000 url(../images/image1.png) no-repeat center center;
}

/*Member home style*/
.carouselContainer{
  position:relative;
  background-color: #000;
  z-index:0;
}
.puTabsWrapper{
  z-index:3;
  position:relative;
}
.overall{
  position:relative;
  z-index:3;

}
@media only screen and (min-width: 768px) {
  .puTabsContainer{
    position: absolute;
    width: 400px;
    top: 5.5rem;
    left: 3rem;

  }
}
.puTabsContainer .tab-content{
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
}
.loginPop{
  max-width:350px
}
.bgLight{
  background-color: rgba(255, 255, 255, .85) !important;
}

.bgBlue a{
  background-color: transparent !important;
  color: #fff !important;
  font-weight: 400 !important;
}
.bgBlue{
  background-color: #3566a7 !important;

}
.carousel .slide .legend{
  margin-left: 0;
    width: 500px;
    font-size: 2.2em;
    text-align: left;
    background-color: transparent;
    opacity: 1;
    top: 10%;
    left: 55%;
  }
.legend span{
  display:block;
  font-size:0.4em;
  text-align:left;
}
.carouselContainer .container-fluid {
   padding-left: 0;
   padding-right: 0;
}

.sectionPub {
    min-height: 320px;
    padding: 20px 30px 20px 30px;
}
.greyBg {
    background-color: #3e4651;
}
.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.warningInfo h5{
  font-size: 0.9em;
}
.featureContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.list-group-item.active {
  font-size: 0.9em;
  background-color: #d6e9f9;
  border-color: #d6e9f9;
  color:#222;
}
.backFlip{
  background-color: #2d5a96;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 0.8em;

}

.homePanel h4 {
  font-size: 1.4em;
  margin-bottom: .8em;
}
.homeLinkList li {
  border-radius: 0;
  background-color: transparent;
  border: 1px dotted #ccc;
  border-left: 0;
  border-right: 0;
  padding: .5rem 1.25rem;
}
.homePanelLink {
  font-size: 0.7em;
}
.homePanelLink a{
  color:#014c8c;
}
.badge{
  background-color: #0275d8;
}
.homeSideInfo h3 {
  color: #666;
  font-size: 1em;
  font-weight: 600;
  margin-top: 10px;
}
.homeSideInfo div.loginInfo {
    margin-bottom: 20px;
}
.homeSideInfo div.loginInfo p {
  font-size: 1em;
  margin-bottom: .3rem;
  font-weight: 600;
  color: #2D5A96;
}

.homeSideInfo ul li a {
  color: #666;
  font-size: 0.9em;
}

.homeTabs .nav-link{
  background-color: #666;
  border-color: #c5c5c5 #c5c5c5 #ddd;
  font-size: 0.95em;
  color:#ccc !important;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-top-right-radius: .1rem;
  border-top-left-radius: .1rem;
}
.homeTabs .nav-link:focus, .homeTabs .nav-link:hover {
    color: #fff !important;
    background: #333;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
}
.homeTabsContainer ul li a:hover {
  background-color: #eee;
}
.homeTabs .nav-item.show .nav-link, .homeTabs .nav-link.active {
    font-weight: 600;
    background-color: #025aa5;
    color: #fff !important;
    border-color: #c5c5c5 #c5c5c5 #ddd;
}
.bannerLoginContainer{
  background-color: rgba(255, 255, 255, .8) !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.bannerLoginContainer h3{
  font-size: 1em;
  font-weight: 600;
}
.bannerLoginContainer small p{
  margin-bottom: 5px;
}
.RPTableContainer{
  position: inherit;
}

.cardHome {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.fa {
  margin-right: 3px;
}
.homePanel{
  margin-bottom: 1.5em;
  display: inherit;
  min-height:250px;
  position: relative;
}
.homePanelBox{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.1em;
  display: inherit;
  margin-bottom: 1.5em;
  border-radius: .25rem;
  min-height:250px;
  position: relative;
  box-shadow: 1px 1px 1px #e2e2e2;
}
.homePanelBox h4{
  font-size:1.2em;
}
.memberTableContainer table thead th {
  background-color: #e9eaea;
  text-align: center;
  font-weight: 600;
  border: 1px solid #ddd !important;
  font-size: .9em;
}
.list-group-item{
  padding: .5rem 1.25rem;
}
.badge-light {
    color: #666;
    background-color: transparent;
}
.nav-item a{
  cursor:pointer;
}
.media-body{
  padding: .75rem 1.25rem;
  font-size: 0.9em;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid #ddd;
  border-top:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.media-body h5{
  font-size: 1em;
  font-weight: 600;
}
.media-body a{
  font-size: 0.9em;
}
.media-body p{
  margin-bottom:0.3rem;
}
/*Basic form style*/

label {
  font-weight: 600;
  font-size: 0.9em;
}

.btn {
  font-size: 0.9em;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 4px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.btn-primary {
  background-color: #3566a7;
  border-color: #3566a7;
  color: #fff !important;
}
.bannerBtn{
  box-shadow: 2px 2px 4px #333;
  border: 1px solid #547eb6;
  font-size: 0.95em;
}

.btnContainer button {
  margin-right: 5px;
}

.field-icon {
  font-family: 'Open Sans', FontAwesome, sans-serif;
  font-size: 1em;
}

.search {
  position: relative;
  color: #aaa;
}

.search input {
  border-radius: 5px;
  font-family: "Open Sans";
  font-size: 1em;
}

.search input {
  padding-left: 32px !important;
}
.search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb !important;;
    opacity: 1 !important;; /* Firefox */
}
.search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb !important;;
}
.search input::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb !important;;
}
.search .fa-search {
  position: absolute;
  top: 13px;
  left: 10px;
}
.floatInput{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.form-control {
  display: block;
  width: 100%;
  padding: .4rem .75rem;
  font-size: 0.95em;
}

.stylish-input-group .input-group-addon {
  background: #f3f3f3 !important;
  padding: 0rem .75rem;
}

.stylish-input-group button {
  cursor: pointer;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  padding: .3rem .75rem;
  background-color: #f3f3f3;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
  background-color: #f3f3f3;
}
.list-group-flush {
  padding-left: 0;
}

.list-group a {
  font-size: 0.9em;
}

.calendarContainer {
  height: 500px;
  font-size: .9em;
}

.calendarContainer .rbc-event {
  padding: 2px 5px;
  background-color: #d9efe5;
  border-radius: 3px;
  color: #222;
  cursor: pointer;
  font-size: 1em;
}

.calendarContainer .rbc-today {
  background-color: #fbfee8;
}
.calendarContainer .rbc-toolbar {
    font-size: 0.9em;
}
.calendarContainer .rbc-btn-group {
    display: inline-block;
    white-space: normal;
}
.calendarContainer .rbc-toolbar button{
  background-color: #eee;
  padding: .375rem 0.4rem;
}
/*Data table style*/

.ui-datatable th.ui-state-default {
  background-color: #ddd;
  border-color: #cacaca;
  font: 600 0.95em 'Open Sans', sans-serif !important;
  padding: .4em .5em;
}

.ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
  background: #c6d6ea;
  border-color: #cacaca;
}

.ui-datatable th.ui-state-active {
  background-color: #535e6c;
  color: #ffffff;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
  padding: .4em .5em;
  border-color: #cacaca;
}

.searchfilter {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.searchfilter input {
  width: 100%;
  padding: .5em .5em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #e2e2e2;
  background-color: white;
  border: 1px solid #ccc;
}

.ui-datatable {
  margin-bottom: 20px;
}

/*React table style*/

.ReactTable {
  font-size: 0.9em;
  border: 1px solid #ccc;
}

.ReactTable .rt-tr .-odd {
  background-color: #F6F6F6 !important;
}

.ReactTable .rt-thead.-header {
  background-color: #c4cfde;
  box-shadow: none;
  color: #000;
}
.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  border-right: 1px solid #bbb;
  color: #000;
}
.ReactTable .rt-thead .rt-th {
  color: #002648;
}
.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: 1px solid #cccc;
}
.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid #ccc;
}
.ReactTable .rt-thead .rt-resizable-header-content {
  font-weight: 600;
}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(209,222,234,0.6);
}
.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 #2d5a96;
}
.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 #2d5a96;
}
.ReactTable .rt-expander:after {
    border-top: 7px solid #2d5a96;
}
.ReactTable .-pagination .-btn {
  background: rgba(0,0,0,0.2);
  border: 1px solid #bbb;
  color: #333;
  width: auto;
  height: auto;
  padding: 0.5rem 2.9rem;
  min-width: 155px;
}
.-next .-btn{
  float:right;
}
.totalRecord{
  font-weight: 600;
  margin-bottom: .5rem;
  font-size: 0.9em;
}
.userDetail{
  background-color: #fbfbfb;
  box-shadow: inset 1px 2px 2px #ccc;
}
.dataTable{
  background-color: #fff;
}

.dataTable thead th{
  background-color: #e9eaea;
  text-align: center;
  font-weight: 600;
  border: 1px solid #ddd !important;
}

.dataTable .rowLabel{
  background-color: #f9fafb;
  text-align: right;
  font-weight: 600;
}
.dataTableContainer table th{
  background-color: #c4cfde;
  color: #002648;
  font-weight: 600;
  text-align: center;
}
.dataTableContainer table thead.ui-datatable-thead th{
  background-color: #c4cfde;
  color: #002648;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #bbb;
}
.dataTableContainer table thead.ui-datatable-thead th.ui-state-active {
    background-color: #535e6c;
    color: #ffffff;
    font-weight: 400;
}
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-even{
  background-color: rgba(0,0,0,0.03);
}
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  background-color: #fff ;
}
.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color: #dbeee9;
    color: #000;
}

.dataTableContainer tbody.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {
    cursor: pointer;
    background: rgba(209,222,234,0.6);
}
.colorBg{
  color: #2d5a96;
}
.react-bs-table .table-bordered>thead>tr:first-child>td, .react-bs-table .table-bordered>thead>tr:first-child>th {
  border-bottom-width: 0;
}

.table-hover tbody tr:hover {
  background-color: rgba(209,222,234,0.6) !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #bbb;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}
.table-bordered th {
    border: 1px solid #bbb;
}
.table .form-control {
    border: 1px solid #bbb;
}
.table .thead-light th {
    color: #fff;
    background-color: #7d8a96;
    border-color: #dee2e6;
    font-weight: 600;
}

.dropup, .dropdown {
  position: relative;
}

.dropup, .dropdown {
  position: relative;
}


.ui-inputtext::placeholder {
  color: #999 !important;
  opacity: 1;
}

.ui-paginator .ui-paginator-page.ui-state-active {
  background: #535e6c;
}

.table td, .table th {
  padding: .4em .5em;
  font-size: 0.9em;
}
.tableHeader{
  background-color: #546c8b;
  padding: .4em .5em;
  color: #fff;
  font-size: .9em;
}
.totalNumber{
  padding-left:15px;
}

.nspiresTable {
  background: #ddd;
  border-color: #cacaca;
  border-bottom: 0 !important;
  color: #555;
}
.slideStyle{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  position: relative;
}
@media (max-width: 768px){
  .slideText{
    margin-top: 1rem !important
  }
}
.slideText{
  text-align: left;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 4rem;
}

.slideText h2{
  color:#fff;
  font-size: 2.3em;
  text-shadow: 2px 2px 4px #333;
}
.slideText p{
  color:#fff;
  font-size: 1em;
  text-shadow: 2px 2px 4px #333;
}
@media (max-width: 768px){
  .slideStyle{
    height: 250px !important;
}
}
.puTable th{
  color:#fff;
  font-weight:400;
}
.puTable td{
  color:#000;
}
.puTable td, .puTable th {
    border-top: 1px solid #ddd;
}
.tableContainer h3{
  font-size: 1.5em;
}
.tableContainer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.puTable thead.bg-primary{
  background-color: #555 !important;
}
.banner{
  background: url(../images/image1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.bannerConatiner{
  height:400px;
  width:100%;
}
.welcomeText{
  font-size: 2em;
  color: #fff;
  text-shadow: 3px 3px 16px rgba(1, 0, 1, 0.5);
}
.bannerConatiner p{
  font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 16px rgba(1, 0, 1, 0.5);
}


@media (min-width: 768px){
.textContainer {
    padding-left: 32%;
    padding-right: 20px;
    padding-top: 10%;
}
}
.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,0.03);
}

.ui-widget-content .ui-cell-data a {
  color: #2D5A96;
  text-decoration: underline;
}

.ui-widget-content .ui-cell-data a:hover {
  text-decoration: normal;
}

.ui-widget-content .ui-cell-data a.tableAction {
  color: #535e6c;
  cursor: pointer;
  font-size: 1.2em;
}
.ui-widget-content .ui-cell-data a.tableActionDelete {
    color: #666;
}
.ui-widget-content .ui-cell-data a.tableActionDelete:hover{
  color: #f96062;
}
.ui-widget-content .ui-cell-data a.tableActionEdit {
    color: #666;
}
.ui-cell-data {
  word-wrap: break-word;
  white-space: normal;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

input.error {
  border-color: #dc3545;
}

label.error {
  color: #dc3545;
}
/* flip */

.flip-container, .front, .back {
  width: 100%;
  height: 160px;
}
.flipper h3{
  font-size: 1.5em;
  color: #2D5A96;
  padding-top: 10px;
}
.flipper p{
  color: #222;
  font-size: 1.1em;
}
.flipper a{
  color: #5de6eb;
}

.flip-container {perspective: 1000px; transform-style: preserve-3d; padding:10px;}
.flip-container:hover .back {transform: rotateY(0deg);}
.flip-container:hover .front {transform: rotateY(180deg);}

.flipper {transition: 0.6s; transform-style: preserve-3d;	position: relative;}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.front {z-index: 2;	transform: rotateY(0deg);}
.back {
	transform: rotateY(-180deg);
  text-align:center;
  border-radius: .25rem;
  background-color: #025aa5;
}
.back ul {
  list-style: none;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
}
.back ul li{
  color:#fff;
  font-size: 0.9em;
  padding-bottom: 10px;
}

.back p{
	font-size:0.9em;
  color: #fff;
}
.front {color:#fff; text-align:center; }

#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#custom-search-input .form-control {
    padding: .2rem .75rem;
}
