.nspiresHeader {
  background-color: #2d5a96;
  padding: .15rem 1rem;
}
.navbar-brand {
  background: url(../images/nspiresLogo.png) no-repeat transparent;
  width: 520px;
  height:50px;
  padding-top:0;
  margin-top: 6px;
}
.nasaLogo{
  width: 60px;
  height: 50px;
  background: url(../images/nasa-logo.svg) no-repeat transparent;
  background-size: auto auto;
  background-size: 60px 50px;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .navbar-brand {
    background: url(../images/nspiresLogoSmall.png) no-repeat transparent;
    width: 110px;
  }
}

.loginContainer {
  margin-top: 13px;
}
.loginContainer a{
  color:#f6f6f6;
}
.loginContainer a:hover{
  color: #5eb3ce
}
ul.loginLinks{
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  padding-top: 10px;
  float: left;
  margin-bottom: 0;
  color:#f6f6f6;
  font-size:0.8em;
}
.loginLinks li {
    float: right;
    padding-right: 5px;
    margin-left: 0;
}
.loginLinks li:not(:first-child):after {
  content: " | ";
    color: #fff;
}
