.mainNavContainer {
  background-color: #252931;
  border-bottom: 1px solid #252931;
}
.nav {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0;
}
.mainNav .nav-link:hover {
    background-color: #15418c;
    border: 1px solid transparent !important;
    border-bottom: 0 !important;
}
.mainNav .nav-link:focus, .mainNav .nav-link:hover {
    border-bottom: 0 !important;
}
.mainNav li a.nav-link  {
    border-top-right-radius: 3px ;
    border-top-left-radius: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 0;
}
.mainNav li a.nav-link.active  {
    background-color: #f9fafb;
}
.mainNav li a.active  {
    font-weight:600;
}
.mainNav .nav-item a{
  font: 400 0.9em 'Open Sans',sans-serif;
  color:#fff
}

.mainNavContainer .nav-tabs{
  border-bottom: 0;
  padding-top: 8px;
}
